.resume {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0px;
}
p {
  margin-top: 5px;
  text-align: justify;
  text-justify: inter-word;
}

.editor-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor-sub-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-sub-heading-input{
  margin-right: 20px;
}

@media only screen and (max-width: 500px) {
  .editor-sub-heading{
    flex-direction: column;
  }
  .editor-sub-heading-input{
    margin-right: 0px;
    margin-bottom: 10px;
  }

}

ul{
  padding-left: 20px;
}