.header {
  position: sticky;
  top: 0px;
  z-index: 3;
}

.header-content {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: white;
  align-items: center;
}

@media only screen and (max-width: 675px) {
  .heading {
    font-size: x-large;
  }
}

@media only screen and (max-width: 400px) {
  .heading {
    font-size: large;
  }
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
