.header{
  position: sticky;
  top: 0px;
  z-index: 3;
  
}

.header-content{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: white;
}

@media only screen and (max-width: 500px) {
  .heading{
    font-size: x-large;
  }
}

.body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.resume{
  display: flex;
  flex-direction: row;
}

h1,h2,h3,h4{
  margin-bottom: 0px;
}
p{
  margin-top: 5px;
  text-align: justify;
  text-justify: inter-word;
}